/** @format */

html {
  background-color: rgb(185, 185, 185);
  height: 750px;
}

input {
  height: 30px;
  width: 350px;
  border-radius: 50px;
  margin-top: 12px;
}
.search {
  display: inline-flex;
  float: right;
}

.ant-btn {
  height: 55px;
  width: 100%;
  padding: 0;
  background-color: purple;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background: #e93cbe; 
    border-color:plum;
}


.ant-layout-sider-children {
  border: 0.5px solid rgb(223, 220, 220);
  height: 753px;
  background-color: #ffffff;
}
.ant-layout .site-layout {
  max-height: 750px;
}
.avatar-img {
  background-color: #050505;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  height: 45px;
  width: 45px;
  margin: 4px 10px 0 20px;
}

.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0;
}

.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 56px;
  line-height: 40px;
}

.anticon svg {
  display: inline-block;
  margin-left: 5px;
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  min-width: 14px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 14px;
  transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-menu-inline-collapsed > .ant-menu-item .anticon,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-item
  .anticon,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title
  .anticon,
.ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title
  .anticon {
  margin: 10px 0 0 5px;
  font-size: 16px;
  line-height: 40px;
}
.content {
  display: inline;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color:purple;
}

.ant-menu-item-selected {
    color:purple;
    font-weight: 500;
}

.site-layout .site-layout-background {
  background: #ffffff;
}

.ant-layout-header {
  height: 55px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  border: 0.5px solid rgb(223, 220, 220);
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  height: 55px;
  margin-top: 0;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  line-height: 40px;
  text-overflow: ellipsis;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid purple;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #e0c2e4;
}

.ant-menu-inline {
    width: 100%;
    color: purple;
    font-weight: 450;
}

